@model IEnumerable<Product>

<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            @foreach (var item in Model) 
            {
                <div class="col">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c"></rect>
                            <text x="50%" y="50%" fill="#eceeef" text-anchor="middle" dominant-baseline="middle">@item.Name</text>
                        </svg>
                        <div class="card-body">
                            <p class="card-text">@item.Description</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button onclick="submitForm('@item.NameUrl', '@item.Id')" class="btn btn-sm btn-outline-secondary">View</button>
                                    <form id="formView" method="post" style="display:none;">
                                        <input type="hidden" name="nameUrl" id="nameUrlField">
                                        <input type="hidden" name="id" id="idField">
                                    </form>

                                    <button onclick="subminProd('1','@item.Price')" class="btn btn-sm btn-outline-secondary">Купить @item.Price @item.Stock</button>
                                    <form id="formBuy" method="post" style="display:none;">
                                        <input type="hidden" name="productCount" id="productCount">
                                        <input type="hidden" name="productSum" id="productSum">
                                    </form> 

                                </div>
                                <small class="text-body-secondary">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <script>
                function subminProd(stock, price) {
                    document.getElementById('formBuy').action = '/product/AddProduct';
                    document.getElementById('productCount').value = stock;
                    document.getElementById('productSum').value = price;
                    document.getElementById('formBuy').submit();
                }
            </script>
            <script>
                function submitForm(nameUrl, id) {
                    document.getElementById('formView').action = '/product/' + nameUrl;
                    document.getElementById('nameUrlField').value = nameUrl;
                    document.getElementById('idField').value = id;
                    document.getElementById('formView').submit();
                }
            </script>
        </div>
    </div>
</div>